

*
{
    padding: 0px;
    margin: 0px;
}

.container{
  width: 100%;
  height: 400px;
  /* background-color: aqua; */
}
.row{
    min-width: 960px;
    width: 50%;
    height: 300px;
    /* background-color: rgb(135, 145, 142); */
    margin: auto;
}

.box{
    width: 80%;
    height: 50px;
    margin: auto;
    padding: 20px 8px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 75, 23);
    position: relative;
    top: 50px;
    border-radius: 4px;
}
.col{
    width: 78%;
    height: 50px;
    background-color: rgb(8, 145, 8);
    padding: 0px;
    border-radius: 3px;
    display: flex;
}
.icon-logo{
    width:18%;
    height: 50px;
    display: flex;
}
.logo{
    width: 20px;
    height: 20px;
    /* background-color: red; */
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 6px;
}



/* .fa-user-circle-o{
    float: right;} */

.inputbox{
   width: 90%;
   height: 30px;
   background-color: rgb(217, 221, 217);
   position: relative;
   top: 7px;
   left: 20px;
   border-radius: 5px;
   text-transform: capitalize;
}
.btn{
    width: 70%;
    height: 45px;
    background-color: green;
    padding: 5px;
    position: relative;
    top: 4px;
    border-radius: 4px;
    margin-left: auto;
}
.logo-2{
    width: 20%;
    height: 20px;
    /* background-color: red; */
    font-size: 30px;
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 9px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}





/* .fa-user-circle-o{
    float: right;
    color: white;
    margin-top: 10px;
    
    


} */




i{
    padding: 10px;


}
@media screen and (max-width: 992px) {
    .row{
        min-width: auto;
        width: 100%;
        
       
    }
    
    
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 750px) {
    .box{
    
        height: 90px;        
        padding: 30px;
        flex-direction: column;
        text-align: start;
        background-color: rgb(23, 75, 23);
        position: relative;
        top: 50px;
        border-radius: 4px;
    }
    .col{
        width: 100%;
        height: 50px;
        background-color: rgb(8, 145, 8);
        padding-bottom: 10px;
        position: relative;
        bottom: 10px;

    }
    .inputbox{
        width: 85%;      
     }
     .icon-logo{
        width:40%;
    }
    
  }

  @media screen and (max-width: 400px) {
    .icon-logo{
        width:100%;
    }
    .inputbox{
        width: 75%;        
        border-radius: 5px;
     }
    
  }
